<style>
    /* Custom style to prevent carousel from being distorted 
       if for some reason image doesn't load */
    .carousel-item img {
        width: 600px; /* Ancho deseado */
        height: 400px; /* Alto deseado */
        object-fit: cover; /* Para mantener la relación de aspecto y rellenar el contenedor */
    }
</style>
<div class="todo">
<div class="header">
    <h1>Ranking 3 canciones mas escuchadas</h1>
  </div>
<div class="container-lg my-3">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
        </ol>
        
        <!-- Wrapper for carousel items -->
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="d-flex align-items-center">
                      <img src="{{lst[0].portada}}" class="img-fluid custom-img" alt="Slide 1">
                      <div class="ms-3">
                          <h1>1. {{lst[0].nombre}}</h1>
                          <h1>{{lst[0].autor}}</h1>
                      </div>
                  </div>
              </div>
              <div class="carousel-item">
                  <div class="d-flex align-items-center">
                      <img src="{{lst[1].portada}}" class="img-fluid custom-img" alt="Slide 2">
                      <div class="ms-3">
                          <h1>2. {{lst[1].nombre}}</h1>
                          <h1>{{lst[1].autor}}</h1>
                      </div>
                  </div>
              </div>
              <div class="carousel-item">
                  <div class="d-flex align-items-center">
                      <img src="{{lst[2].portada}}" class="img-fluid custom-img" alt="Slide 3">
                      <div class="ms-3">
                          <h1>3. {{lst[2].nombre}}</h1>
                          <h1>{{lst[2].autor}}</h1>
                      </div>
                  </div>
              </div>
          </div>
          <a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon custom-icon"></span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon custom-icon"></span>
          </a>
      </div>
</div>

  <div class="header">
    <h1>Explorar Música</h1>
  </div>
  <!-- Contenido -->
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://via.placeholder.com/300" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Lista de Éxitos</h5>
            <p class="card-text">Las canciones más populares del momento.</p>
            <a href="#" class="btn btn-success">Explorar</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://via.placeholder.com/300" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Descubrimiento Semanal</h5>
            <p class="card-text">Nuevas canciones recomendadas solo para ti.</p>
            <a href="#" class="btn btn-success">Explorar</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://via.placeholder.com/300" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Géneros Populares</h5>
            <p class="card-text">Explora música por géneros.</p>
            <a href="#" class="btn btn-success">Explorar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <!-- Botones para seleccionar el número de resultados a mostrar -->

    <!-- Tablas en paralelo -->
    <div class="row">
        <!-- Primera Tabla -->
        <h1>Top Canciones</h1>

        <div class="col-md-6">
          <div class="text-center mb-4">
            <button class="btn btn-primary mx-2" (click)="setResultsLimit(10)">Top 10</button>
            <button class="btn btn-primary mx-2" (click)="setResultsLimit(30)">Top 30</button>
            <button class="btn btn-primary mx-2" (click)="setResultsLimit(50)">Top 50</button>
        </div>
    
            <table class="table table-bordered table-striped text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Autor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of lst; let i = index" [hidden]="i >= resultsLimit">
                        <td>{{ i + 1 }}</td>
                        <td><img [src]="item.portada" class="img-fluid table-img" alt="Imagen"></td>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.autor }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Segunda Tabla -->
        <div class="col-md-6">
          <h1>Canciones Reproducidas Recientemente</h1>
            <table class="table table-bordered table-striped text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Autor</th>
                        <th>Fecha de Reproducción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of lst2; let i = index" [hidden]="i >= 15">
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.autor }}</td>
                        <td>{{ item.fechaReproduccion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>