@font-face {
  font-family: 'fuente';
  src: url('../../Media/Picashow.otf');
}
.todo{
  font-family: 'fuente';
}
 .header {
    background-color: #abc9ab;

    color: #000000;
    padding: 20px;
    margin-top: 1%;
    text-align: center;
  }
  .custom-img {
    max-width: 70%; /* Ajusta este valor según sea necesario */
    height: auto;
}

.custom-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(100%);
}
.table-img {
  max-width: 50px; /* Ajusta este valor según sea necesario */
  height: auto;
}

.carousel-item .d-flex {
    width: 100%;
    justify-content: flex-start;
}

.carousel-item h1 {
    margin-left: 20px; /* Ajusta el margen según sea necesario */
}
  /* Estilo personalizado para las tarjetas */
  .card {
    border: none;
    transition: transform 0.3s;
  }

  .card:hover {
    transform: translateY(-5px);
  }

  /* Estilo personalizado para el pie de página */
  .footer {
    background-color: #1DB954;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }

  /* Estilo personalizado para el botón de flecha */
  .arrow-btn {
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #007bff;
    cursor: pointer;
  }

    /* Estilo personalizado para el contenedor de la descripción */
    .description-container {
        background-color: #f8f9fa;
        padding: 20px;
      }
  
      /* Estilo personalizado para las tarjetas de imagen */
      .image-card {
        border: none;
        margin-bottom: 20px;
      }
  
      .image-card img {
        max-width: 100%;
        height: auto;
      }