  <nav class="navbar bg-body-tertiary" aria-label="Light offcanvas navbar">
    <div class="container-fluid">
       
      <a class="navbar-brand nombre" href="#">AndinoSound</a>
      <form class="d-flex mt-3 buscador" role="search">
        <input class="form-control me-2 busca" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Ir</button>
      </form>
      <button class="navbar-toggler" [disabled]="!UserLoginOn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarLight" aria-controls="offcanvasNavbarLight" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbarLight" aria-labelledby="offcanvasNavbarLightLabel">

        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLightLabel">{{nombre}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

 
        <div class="offcanvas-body">
            
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <div class="container text-center">
                <img width="150px" src="{{fotoPerfil}}" alt="Logo">
            </div>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/Inicio-list">Inicio</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Ingresar
                </a>
                <ul class="dropdown-menu">
                  <li><a ngIf="UserLoginOn" class="dropdown-item" href="/Login-list">Iniciar sesion</a></li>
                  <li><a ngIf="UserLoginOn" class="dropdown-item" href="/perfil-list">Ver perfil</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                </ul>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/explorar-novedades-list">Explorar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Biblioteca-list">Tu biblioteca</a>
            </li>
            <li class="nav-item">
                <a (click)="logout()" class="nav-link">Cerrar sesion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Ayuda</a>
            </li>
           
          </ul>
      
        </div>
      </div>
    </div>
  </nav>