<body class="todo">
  <div class="container mt-5">
    <div class="row">
      <!-- Mitad izquierda con el formulario -->
      <div class="col-md-6">
        <h1>Crear nueva Lista de reproducción</h1>
        <!-- Formulario para crear una nueva playlist -->
        <form id="playlistForm">
          <div class="form-group">
            <label for="playlistName">Nombre de la Playlist</label>
            <input type="text" class="form-control" id="playlistName" name="playlistName" placeholder="Ingresa el nombre de la playlist" [(ngModel)]="nombre">
          </div>
          <br>
          <div class="form-group form-check">
            <input type="checkbox" name="playlistPublic" class="form-check-input" id="playlistPublic" [(ngModel)]="publico">
            <label class="form-check-label" for="playlistPublic">Público</label>
          </div>
          <div>
            <h5>Canciones de la lista</h5>
            <div class="table-container">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Imagen</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Artista</th>
                    <th scope="col">Album</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor= "let x of canciones">
                    <td><img [src]="x.imagen" alt="Portada" style="width: 50px; height: 50px;"></td>
                    <td>{{x.nombre}}</td>
                    <td>{{x.artista}}</td>
                    <td>{{x.album}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <button  class="btn btn-primary mt-3 crear" (click)="addPlayList()">Crear Playlist</button>
          <a><button class="btn btn-primary mt-3 cancelar" (click)="goBack()">Cancelar</button></a>
        </form>
      </div>
      <!-- Mitad derecha con lista de canciones predefinidas -->
      <div class="col-md-6">
        <h1>Añadir Canciones</h1>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Buscar canción" aria-label="Buscar canción" [(ngModel)]= "filtroCancion" (input)= "filtrarCanciones()" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
          </div>
        </div>
        <div>
          <h5>Canciones</h5>
          <div class="table-container">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Imagen</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Artista</th>
                  <th scope="col">Album</th>
                  <th scope="col">Accion</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor= "let x of cancionesFiltradas">
                  <td><img [src]="x.portada" alt="Portada" style="width: 50px; height: 50px;"></td>
                  <td>{{x.nombre}}</td>
                  <td>{{x.autor}}</td>
                  <td>{{x.album}}</td>
                  <td><button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="addCancion(x)">Añadir</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Canción 1
            <button type="button" class="btn  btn-outline-secondary">Seleccionar</button>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Canción 2
            <button type="button" class="btn  btn-outline-secondary">Seleccionar</button>
          </li> 
        </ul>
      </div>
    </div>
  </div>
</body>
