<div class="mini-player fixed-bottom">
  <div class="player-container d-flex align-items-center justify-content-between">
    <div *ngIf="song" class="song-info d-flex align-items-center">
      <img [src]="songImage" alt="Portada" class="song-image mr-3">
      <div>
        <p class="song-title">{{ song.nombre }}</p>
        <p class="song-artist">{{ songAutor }}</p>
      </div>
    </div>
    <p *ngIf="!song">No hay canción seleccionada</p>

    <div class="audio-controls d-flex align-items-center">
      <audio id="audioPlayer" autoplay controls class="audio-player" *ngIf="song" (ended)="onAudioEnded($event)">
        <source [src]="song.url" type="audio/mp3">
        <p *ngIf="!song.url">Tu dispositivo no soporta este formato</p>
      </audio>
      <div class="controls d-flex align-items-center">
        <button (click)="previousSong()" class="btn btn-secondary">Anterior</button>
        <button (click)="toggleRepeat()" class="btn btn-secondary">
          {{ isRepeat ? 'Desactivar Repetición' : 'Activar Repetición' }}
        </button>
        <button (click)="nextSong()" class="btn btn-secondary">Siguiente</button>
      </div>
    </div>
  </div>
</div>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    // Función para actualizar la posición del mini reproductor cuando la ventana se desplaza
    $(document).ready(function() {
      $(window).scroll(function() {
        var scrollHeight = $(document).height();
        var scrollPosition = $(window).height() + $(window).scrollTop();
        var distanceFromBottom = scrollHeight - scrollPosition;

        // Cambia la posición del mini reproductor para mantenerlo en la misma ubicación relativa a la parte inferior de la pantalla
        if (distanceFromBottom < 150) {
          $(".mini-player").css({
            "bottom": (20 + (150 - distanceFromBottom)) + "px"
          });
        } else {
          $(".mini-player").css({
            "bottom": "20px"
          });
        }
      });
    });
  </script>
