<h1>{{data.nombre}}</h1>
<h1>{{username}}</h1>
<table class="table table-bordered" >
    <thead>
      <tr>
        <th scope="col">Nombre Canción</th>
        <th scope="col">Artista</th>
        <th scope="col">Album</th>
      </tr>
    </thead>
    <tbody *ngFor="let i of data.canciones">
      <tr>
        <td>{{i.nombre}}</td>
        <td>{{i.artista}}</td>
        <td>{{i.album}}</td>
        <td>
          <button class="btn btn-sm btn-info btn-delete-playlist" >Reproducir</button> <br> <button class="btn btn-sm btn-danger btn-delete-playlist" >Eliminar</button>
        </td>
      </tr>

    </tbody>
  </table>