  <!-- Hero section -->
  <div class="hero-section">
    <div class="container">
      <h1>Andino Sound</h1>
      <p>Explora y disfruta de la mejor selección de canciones</p>
      <a href="/Biblioteca-list" class="btn btn-primary btn-lg btn-get-started inicio">Empezar</a>
    </div>
  </div>

  <!-- Features section -->
  <div class="features-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="feature">
            <img src="https://cdn.icon-icons.com/icons2/2775/PNG/512/listening_music_icon_176906.png" alt="Descubrir música">
            <h3>Descubre nueva música</h3>
            <p>Explora nuestra amplia biblioteca de canciones y descubre artistas emergentes aqui!.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature">
            <img src="https://cdn.icon-icons.com/icons2/710/PNG/512/smartphone-25_icon-icons.com_61993.png" alt="Listas de reproducción">
            <h3>Crea listas de reproducción</h3>
            <p>Crea listas de reproducción personalizadas y guarda tus canciones favoritas.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature">
            <img src="https://cdn.icon-icons.com/icons2/2774/PNG/512/listen_music_icon_176885.png" alt="Disfruta en cualquier lugar">
            <h3>Disfruta en cualquier lugar</h3>
            <p>Accede a tu música favorita desde cualquier dispositivo en cualquier momento.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Call to action section -->
  <div class="call-to-action">
    <div class="container">
      <h2>Prueba nuestra plataforma premium gratis por 30 días</h2>
      <p>No te pierdas la oportunidad de acceder a contenido exclusivo y sin anuncios.</p>
      <button href="" class="btn btn-lg btn-success btn-start-free-trial">Comienza tu prueba gratuita</button>
    </div>
  </div>
