
<div class="container-fluid todo">
  <div class="row">
    <div class="col-12 text-center">
      <h1>BIBLIOTECA</h1>
    </div>
  </div>
  <div class="row">
    <!-- Tabla de Álbumes 1 -->
    <div class="col-md-3 bg-light">
      <h2 class="text-center mt-3">Albumes</h2>
      <input type="text" class="form-control mb-3" placeholder="Buscar Album..." [(ngModel)]="filtroAlbum" (input)="filtrarAlbumes()">
      <div class="table-container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Portada</th>
            <th>Álbum</th>
            <th>Fecha Lanzamiento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of albumesFiltrados">
            <td><img src="{{i.portada}}" alt="Album Thumbnail" style="width: 50px; height: 50px;" (click)="filtrarCancionesporBoton(i.album)"></td>
            <td>{{i.album}}</td>
            <td>{{i.fechaLanzamiento}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>

    <!-- Tabla de Álbumes 2 -->
    <div class="col-md-3 bg-light">
      <h2 class="text-center mt-3">Playlists</h2>
      <input type="text" class="form-control mb-3" placeholder="Buscar Playlists..." [(ngModel)]="filtroplaylist" (input)="filtrarPlaylists()">
      <div class="table-container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Portada</th>
            <th>Álbum</th>
            <th>Cantidad canciones</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of playlistFiltrados">
            <td><img src="{{i.canciones[0].imagen}}" alt="Album Thumbnail" style="width: 50px; height: 50px;" (click)="filtrarCancionesporBoton(i.album)"></td>
            <td>{{i.nombre}}</td>
            <td>{{i.canciones.length}}</td>
            <td>              <button class="d play-btn" (click)="playSongQueue(i)"></button>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
    </div>

    <!-- Tabla de Canciones -->
    <div class="col-md-6">
      <h2 class="text-center mt-3">Lista de Canciones: {{nombreRep}}</h2>
      <input type="text" class="form-control mb-3" placeholder="Buscar canción..." [(ngModel)]="filtroCancion" (input)="filtrarCanciones()">
      <div class="table-container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Portada</th>
            <th>Nombre</th>
            <th>Artista</th>
            <th>Álbum</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of cancionesFiltradas">
            <td><img src="{{x.portada}}" alt="Song Thumbnail" style="width: 50px; height: 50px;"></td>
            <td>{{x.nombre}}</td>
            <td>{{x.autor}}</td>
            <td>{{x.album}}</td>
            <td>
              <button class="d play-btn" (click)="playSong(x)"></button>
              <button class="d like-btn" (click)="addMeGusta(x)"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>
